html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

::selection {
  background: rgba(255,255,255,0.1);
}

body {
  /*background-image: url('../images/ambient_light_wallpaper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  background: #581528;
  background: #154a58;
  font-family: 'open-sans-light', sans-serif;
  margin: 0;
}

body, button, input, textarea, select, .btn {
  -webkit-font-smoothing: antialiased;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}*/
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/*
 * Headers
 */

header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  min-height: 50px;
  position: relative;
  padding-right: 7px;
}

header:before,
header:after {
  display: table;
  content: " ";
}

header:after {
  clear: both;
}

.header {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin: 0;
}

.header>li {
  float: left;
  position: relative;
  display: block;
}

.header.header-left {
  float: left;
}

.header.header-right {
  float: right;
}

.header>li a {
  font-size: 22px;
  padding: 10px 15px;
  display: block;
}

.header .fa {
  padding: 5px 0;
}

.header-right span {
  height: 100%;
}

a, h1, h2, h3, h4, span, p, i, small {
  color: #fff;
}

a, h1, h2, h3, h4, span, p {
  /*text-shadow: 0 0 3px rgba(255,255,255,0.4);*/
  font-family: 'open-sans-light', sans-serif;
}

a:hover {
  color: #FFD600;
  text-decoration: none;
}

#menu-toggle {
  position: relative;
  float: left;
  background: rgba(0,0,0,0.5);
}

#menu-toggle a {
  display: block;
}

#menu-toggle a i {
  font-size: 30px;
  padding: 10px;
  width: 45px;
}

#main {
  background: rgba(255,255,255,0.1);
}

#sidebar {
  width: 233px;
  float: left;
  background: rgba(0,0,0,0.3);
  height: 100%;
  position: fixed;
  left: -233px;
  padding-left: 45px;
}

#sidebar.slideToggle {
  left: 0;
}

#sidebar .widgets {
  width: 188px;
  float: left;
  position: relative;
}

/*#sidebar.slideHidden .widgets {
  left: -233px;
}*/

#sidebar .icon-bar {
  width: 45px;
  height: 100%;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  font-size: 24px;
}

#content {
  margin-left: 0;
}

#content.slideToggle {
  margin-left: 233px;
}

.page-wrapper {

}

.sidebar-wrapper {
  width: 250px;
  position: fixed;
  left: 0;
  height: 100%;
  background: #333;
}

.content-wrapper {
  margin-left: 250px;
  position: absolute;
}

.widget {
  display: block;
  margin-bottom: 20px;
}

.widget-prof {
  text-align: center;
}

.profile-pic {
  width: 120px;
  height: auto;
  margin: 9px 0 4px;
  border-radius: 100px;
  border: 6px solid rgba(0,0,0,0.2);
}

.icon-bar {
  width: 100%;
  font-size: 0;
  display: inline-block;
}

.icon-bar > .item {
  text-align: center;
  display: block;
  padding: 10px 0;
}

.icon-bar > .item:hover > i {
  opacity: 0.5;
}

.icon-bar > .item i {
  width: 1.875rem;
  height: 1.875rem;
  color: #fff;
}

.icon-bar.vertical {
  margin: auto;
  width: auto;
  float: none;
}

.list.vertical .item {
  display:block;
}

#content .section {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

#content .widget {
  background: rgba(0,0,0,0.35);
}

.wheader > h2 {
  background: rgba(0,0,0,0.35);
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  width: 100%;
  padding: 7px 10px 7px;
}

.wcontent {
  padding: 10px;
}

.wcontent.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.tile {
  background: rgba(0,0,0,0.35);
  height: 62px;
  width: 65px;
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  position: relative;
  vertical-align: top;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.tile > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 11px 10px 0;
}

.tile span {
  font-size: 11px;
}

.tile i {
  display: block;
}

.github-feed-item {
  font-size: 11px;
  margin-bottom: 10px;
}

.github-feed-item span {
  display: block;
}

@media only screen and (min-width: 768px) {
  #sidebar {
    left: 0;
  }

  #sidebar.slideToggle {
    left: -233px;
  }

  #content {
    margin-left: 233px;
  }

  #content.slideToggle {
    margin-left: 0;
  }
}